@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary: #7F7FD5;
  --secondary: #91EAE4,; 
  ;
}
body {
  margin: 0;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  background: rgb(62,62,64);
  background: radial-gradient(circle, rgba(62,62,64,1) 0%, rgba(0,0,0,1) 100%);
}
* {
  color: white;
  margin: 0;
}
p {
  text-align: center;
  padding: 30px;
  color: lightgrey;

}


/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  font-size: 1.8em;
  margin: 0 20px;
}
header nav h1 {
  margin-right: auto;
  
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  
}
header nav a.active {
  background: transparent;
  color: red;
  font-weight: 900;
  box-shadow: red 0px 3px;


}
header nav a:hover{
  font-size: 1em;
  color: red;
}


/* home content */
main {
  max-width: 1600px;
 margin: auto;
}

.home{
  display: flex;
  flex-direction: wrap;
  margin-top: 18%;
  font-family: 'Open Sans', sans-serif;
 
}
.home .home-left{
  width: 50%;
}
button{
  background: none;
  border: 2px solid white;
  
  height: 80px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  padding: px 20px;
  min-width:200px;
  margin: px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}

button:hover{
  color: #fff;
}
button::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn1::before{
  transform: scaleX(0);
}
.btn1:hover::before{
  transform: scale(1);
}
.home .home-right{
  width: 50%;
  display: flex;
  justify-content: end;
  align-items:flex-start;
  margin-top: -100px;

}

.home .home-right img{
  border: black 3px solid;
  border-radius: 50%;
  height: 600px;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  padding-left: 0px;
  padding-top: 15%;
  bottom: 0px;
  
}
.icons img{
  height: 100px;
  

  margin-right: 20px;
 
}
.icons img:hover {
  height: 110px;
  
  
}


/* about */
.about{
  display: flex;
  flex-direction: column;

  
}
.about h1{
  font-size: 3em;
}
.about .intro{
  text-align: center;
  border-bottom: solid 3px white;
  margin-bottom: 20px;
  font-size: 30px;
}
.about p{
  color: white;
  text-align: start;
  font-size: 18px;
}
.about h2{
  margin-bottom: 15px;
}
.about img{
  height: 40px;
  margin-left: 5px;
  animation-duration: 4s;
  animation-name: slidein;
}
.about h3{
  font-size: 25px;
}
.about h4{
  font-size: 25px;
}
@keyframes slidein{
  from{
    margin-left: 10%;
  }
  to{
    margin-left: 5px;
  }
}
.about h1{
  text-align: center;
}
.text{
  font-size: 50px;
}
.text2{
  font-size: 45px;
}
.text3{
  font-size: 40px;
}
.text3:hover{
  font-size: 45px;
  color: red;
}


/* services section styling*/
.services .serv-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 50px;
}
.services h2{
  margin-left: 43%;
}
.services, .projects{
  color: white;
  background: none;
  padding: 75px;
}

.services .serv-content .card{
  width: calc(33% - 70px);
 
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .serv-content .card:hover{
  background: lightblue;
}
.services .serv-content .card .box{
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
  transform: scale(1.05);
}
.services .serv-content .card i{
  font-size: 50px;
  color: lightblue;
  transition: color 0.3s ease;
}

.services .serv-content .card:hover i{
  color: white;
}
.services .serv-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}


/* help layout */
.projects-layout nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 30px 0;
  align-items: center;
}
.projects-layout h2{
  margin-left: 45%;
  font-size: 2em
}
.projects-layout p{
  justify-content: center;
  
  align-items: center;
}
.projects-layout nav a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.projects-layout nav a:hover{
  border-color: red
}
.projects-layout nav a.active {
  background: red;
}

/* Mis */


.card-container{
   
    
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: myFont;
  padding-bottom: 60px;
}


.card-container .card-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

  

.card{
  background: var(--primary-color);
  color: var(--secondary-color);
  width: 500px;
  
  margin: 0px;
  border: solid 3px lavender;
 
  

}

.card-image{
  background-color: aqua;
  height: 340px;
  width: 500px;
  
  background-size: cover;
}
.car-1{
  background-image: url(assets/useCase.png);
}
.car-2{
  background-image: url(assets/analytics.png);
}

.card h2{
  padding: 10px;
 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 900;
  

}
.bottom-card{
  margin-right: 30%;
  
}

.card:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}
.web{
  width: 100%;
  
}

span{
  color: red;
}

/* contact form */
form {
  margin-top: 30px;
}
form input, form label span, form textarea {
  display: block;
}
form input, form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}
form label span {
  margin-bottom: 10px;
}

/* careers list */
.careers > a {
  display: block;
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.careers > a:hover p {
  color: var(--primary);
}
.careers p {
  margin: 0;
}
.careers > a p:last-child {
 font-size: 0.8em;
 color: #bbb;
}

/* careers details */
.career-details {
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* breadcrumbs */
.breadcrumbs {
  max-width: 1400px;
  margin: 20px auto;
}
.breadcrumbs > *{
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumb:after {
  content: '>';
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  color: white;
}

.carousel {
  width: 100%;
  height: 840px;
  background-color: black;
}
.carouselInner {
  height: 840px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.carouselInner .left{
  flex: 5%;
  height: 100%;
  background-color: rgb(0, 0, 0, );
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}
.carouselInner .center{
  flex: 90%;
  height: 100%;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-align-last: center;
  
}


.carouselInner .right{
  flex: 5%;
  height: 100%;
  background-color: rgb(0, 0, 0, );
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}


  .dataContainer{
  background: #DCDCDC;
 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dataContainer h1{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 2.5em;
}
.dataContainer h3{
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
.dataContainer h4{
  color: black;
}
.dataContainer .background{
  height: 600px;
  width: 100%;
}

.dataContainer .menu li a{
  text-align: center;
  list-style: none;
  font-size: 18px;
  color: black;
}
li{
  padding: 5px;
  color: black;
}
.dataContainer h4{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
  
}

.dataContainer p{
  color: black;
}
.equipo{
  width: 75%;
  height: 75%;
  
}


.factors{
  list-style: decimal;
}

.analytics{
  width: 75%;
  height: 75%;
}


.workoutApp{
  display: flex;
  align-items: center;
  justify-content: center;
}
.workoutContent{
  border: 2px solid lightgray;
  width: 650px;
}


.workoutApp .workoutContent .workoutTop h1 button{
  background: gray;
  border: none;
  height: 50px;
  
}
.workoutTop{
  height: 50px;
  background: lightgray;
  color: red;
  
}
.workoutApp .workoutContent .workoutTop button{
  background: white;
  
}
.workoutTop img{
  height: 50px;
}
.workoutApp .workoutContent .workoutTop h1{
  color: black;
  text-align: center;
}
.workoutBot{
  height: 100.datapx;
  border-top: 3px solid black;
  background: lightgray; 
  display: flex;
  flex-direction: column;
  
}
.stack{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}
.workoutApp .workoutContent .workoutBot a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.workoutApp .workoutContent .workoutBot .stack li {
  list-style: none;
  display: inline-block;
  color: black;
  font-size: 1.5em;
  text-align: center;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}
.workoutMid{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.workoutApp .workoutContent .workoutMid img{
  height: 350px;
  width: 600px;
}

.workoutApp .workoutContent .workoutBot img{
  height: 60px;
  margin-right: 10px;
  margin-left: 10px;
}
.workoutApp .workoutContent .workoutBot img:hover{
  transform: scale(1.1);
}
.launchers{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px){

  header nav {
    display: flex;
    gap: 10px;
    justify-content: start;
    font-size: 1em;
    margin: 0px 0px;
  }
  .home{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 30%;
    font-family: 'Open Sans', sans-serif;
  }
  .home .home-right{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -30px;
  }
  .home .home-left{
    width: 100%;
  }
  .home .home-left img{
    height: 70px;
  }
  .home .home-right img{
    height: 10px;
    border: black 3px solid;
    border-radius: 50%;
  }
  
  .text{
    font-size: 25px;
  }
  .text2{
    font-size: 20px;
  }
  .text3{
    font-size: 20px;
  }
  .text3:hover{
    font-size: 45px;
    color: red;
  }

  .about h1{
    font-size: 1.5em;
    text-align: start;
  }
  .about .intro{
    text-align: start;
    border-bottom: solid 3px white;
    margin-bottom: 20px;
    margin-left: -50px;
    font-size: 15px;
    max-width: 390px;
  }
  .about p{
    color: white;
    
    font-size: 18px;
    text-align: start;
    margin-left: -50px;
    font-size: 15px;
    max-width: 390px;
  }
  .about h2{
    margin-bottom: 15px;
    text-align: start;
  }
  .about img{
    height: 40px;
    margin-left:  -8px;
    animation-duration: 4s;
    animation-name: slidein;
  }
  .about h3{
    font-size: 25px;
    text-align: start;
  }
  .about h4{
    font-size: 25px;
    text-align: start;
  }
  
  .projects-layout nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 0px 0px;
    align-items: center;
    max-width: 390px;
    
  }
  .projects-layout h2{
    margin-left: 25%;
    font-size: 2em;
    text-align: start;
  }
  .projects-layout p{
    text-align: start;
    margin-left: -40px;
  }
    
  .projects-layout nav a{
   
    font-size:14px ;
    border: none;
  }
  .workoutApp{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .workoutContent{
    border: 2px solid lightgray;
    width: 400px;
  }
  .workoutTop{
    height: 85px;
    background: lightgray;
    color: red;
  }
  .workoutApp .workoutContent .workoutTop h1{
    color: black;
    text-align: center;
  }
  .workoutBot{
    height: 100px;
    border-top: 3px solid black;
    background: lightgray; 
    display: flex;
    flex-direction: column;
    
  }
  .stack{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .workoutApp .workoutContent .workoutBot a{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .workoutApp .workoutContent .workoutBot .stack li {
    list-style: none;
    display: inline-block;
    color: black;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
  }
  .workoutMid{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .workoutApp .workoutContent .workoutMid img{
    height: 250px;
    width: 250px;
  }
  nav{
    width: 300px;
  }
  
  .workoutApp .workoutContent .workoutBot img{
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .workoutApp .workoutContent .workoutBot img:hover{
    transform: scale(1.1);
  }
  .launchers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .dataContainer p{
    color: black;
    text-align: center;
    margin-left: 3%;
  }
}

@media (max-width: 800px){
  header nav {
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 1em;
    margin: 0px 0px;
  }
  .home{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 30%;
    font-family: 'Open Sans', sans-serif;
  }
  .home .home-right{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -30px;
  }
  .home .home-left{
    width: 100%;
  }
  .home .home-left img{
    height: 50px;
   
  }
  .home .home-right img{
    height: 300px;
    border: black 3px solid;
    border-radius: 50%;
    margin-top: -60px;
  }
  
  .text{
    font-size: 25px;
  }
  .text2{
    font-size: 20px;
  }
  .text3{
    font-size: 20px;
  }
  .text3:hover{
    font-size: 45px;
    color: red;
  }
  .icons{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-top: -50px;
   
  }
  .icons img{
    height: 100px;
  }
}

@media (max-width: 1180px){
  .home .home-right img{
    height: 300px;
    border: black 3px solid;
    border-radius: 50%;
    
  }
}